In [2]:

library("aws.s3")
# @hidden_cell
# The following code accesses a file in your IBM Cloud Object Storage. It includes your credentials.
# You might want to remove those credentials before you share the notebook.

obj <- get_object(
    object = "CustomerLoyaltyProgram-1.csv",
    bucket = "firstibmwatsonproject-donotdelete-pr-0vbe9fumdtz1gx",
    key = "7a24b9bf97084f4886b0233cc92d0574",
    secret = "56e34faac72b3389eeaf7b4992492b9efc3ff540803e5738",
    check_region = FALSE,
    region = "",
    base_url = "s3.private.eu-gb.cloud-object-storage.appdomain.cloud"
)

df_1 <- read.csv(text = rawToChar(obj))
library("aws.s3")
# @hidden_cell
# The following code accesses a file in your IBM Cloud Object Storage. It includes your credentials.
# You might want to remove those credentials before you share the notebook.

obj <- get_object(
    object = "SeoulBikeData.csv",
    bucket = "firstibmwatsonproject-donotdelete-pr-0vbe9fumdtz1gx",
    key = "7a24b9bf97084f4886b0233cc92d0574",
    secret = "56e34faac72b3389eeaf7b4992492b9efc3ff540803e5738",
    check_region = FALSE,
    region = "",
    base_url = "s3.private.eu-gb.cloud-object-storage.appdomain.cloud"
)

df_3 <- read.csv(text = rawToChar(obj))
head(df_3)

library("aws.s3")
# @hidden_cell
# The following code accesses a file in your IBM Cloud Object Storage. It includes your credentials.
# You might want to remove those credentials before you share the notebook.

obj <- get_object(
    object = "Chicago_Crime_Data-v2.csv",
    bucket = "firstibmwatsonproject-donotdelete-pr-0vbe9fumdtz1gx",
    key = "7a24b9bf97084f4886b0233cc92d0574",
    secret = "56e34faac72b3389eeaf7b4992492b9efc3ff540803e5738",
    check_region = FALSE,
    region = "",
    base_url = "s3.private.eu-gb.cloud-object-storage.appdomain.cloud"
)

df_2 <- read.csv(text = rawToChar(obj))
head(df_2)

head(df_1)

  Date       Rented.Bike.Count Hour Temperature..b0.C. Humidity...
1 01/12/2017 254               0    -5.2               37
2 01/12/2017 204               1    -5.5               38
3 01/12/2017 173               2    -6.0               39
4 01/12/2017 107               3    -6.2               40
5 01/12/2017  78               4    -6.0               36
6 01/12/2017 100               5    -6.4               37
  Wind.speed..m.s. Visibility..10m. Dew.point.temperature..b0.C.
1 2.2              2000             -17.6
2 0.8              2000             -17.6
3 1.0              2000             -17.7
4 0.9              2000             -17.6
5 2.3              2000             -18.6
6 1.5              2000             -18.7
  Solar.Radiation..MJ.m2. Rainfall.mm. Snowfall..cm. Seasons Holiday
1 0                       0            0             Winter  No Holiday
2 0                       0            0             Winter  No Holiday
3 0                       0            0             Winter  No Holiday
4 0                       0            0             Winter  No Holiday
5 0                       0            0             Winter  No Holiday
6 0                       0            0             Winter  No Holiday
  Functioning.Day
1 Yes
2 Yes
3 Yes
4 Yes
5 Yes
6 Yes

  ID       CASE_NUMBER DATE                   BLOCK                    IUCR
1  3512276 HK587712    08/28/2004 05:50:56 PM 047XX S KEDZIE AVE       890
2  3406613 HK456306    06/26/2004 12:40:00 PM 009XX N CENTRAL PARK AVE 820
3  8002131 HT233595    04/04/2011 05:45:00 AM 043XX S WABASH AVE       820
4  7903289 HT133522    12/30/2010 04:30:00 PM 083XX S KINGSTON AVE     840
5 10402076 HZ138551    02/02/2016 07:30:00 PM 033XX W 66TH ST          820
6  7732712 HS540106    09/29/2010 07:59:00 AM 006XX W CHICAGO AVE      810
  PRIMARY_TYPE DESCRIPTION                   LOCATION_DESCRIPTION
1 THEFT        FROM BUILDING                 SMALL RETAIL STORE
2 THEFT        $500 AND UNDER                OTHER
3 THEFT        $500 AND UNDER                NURSING HOME/RETIREMENT HOME
4 THEFT        FINANCIAL ID THEFT: OVER $300 RESIDENCE
5 THEFT        $500 AND UNDER                ALLEY
6 THEFT        OVER $500                     PARKING LOT/GARAGE(NON.RESID.)
  ARREST DOMESTIC ⋯ WARD COMMUNITY_AREA_NUMBER FBICODE X_COORDINATE
1 FALSE  FALSE    ⋯ 14   58                    6       1155838
2 FALSE  FALSE    ⋯ 27   23                    6       1152206
3 FALSE  FALSE    ⋯  3   38                    6       1177436
4 FALSE  FALSE    ⋯  7   46                    6       1194622
5 FALSE  FALSE    ⋯ 15   66                    6       1155240
6 FALSE  FALSE    ⋯ 27   24                    6       1171668
  Y_COORDINATE YEAR UPDATEDON              LATITUDE LONGITUDE
1 1873050      2004 02/10/2018 03:50:01 PM 41.80744 -87.70396
2 1906127      2004 02/28/2018 03:56:25 PM 41.89828 -87.71641
3 1876313      2011 02/10/2018 03:50:01 PM 41.81593 -87.62464
4 1850125      2010 02/10/2018 03:50:01 PM 41.74367 -87.56246
5 1860661      2016 02/10/2018 03:50:01 PM 41.77346 -87.70648
6 1905607      2010 02/10/2018 03:50:01 PM 41.89645 -87.64494
  LOCATION
1 (41.8074405, -87.703955849)
2 (41.898279962, -87.716405505)
3 (41.815933131, -87.624642127)
4 (41.743665322, -87.562462756)
5 (41.773455295, -87.706480471)
6 (41.896446772, -87.644938678)

  Loyalty. First.Name Last.Name Customer.Name  Country Province.or.State
1 837810   Abigail    Goris     Abigail Goris  Canada  British Columbia
2 707928   Ada        Glaude    Ada Glaude     Germany Bremen
3 901442   Ada        Staback   Ada Staback    Canada  Manitoba
4 237303   Adam       Boner     Adam Boner     Canada  Ontario
5 348835   Adam       Dunnegan  Adam Dunnegan  Canada  Manitoba
6 186842   Adelaide   Drago     Adelaide Drago Germany Thuringen
  City         Latitude Longitude   Postal.code ⋯ LoyaltyStatus
1 Dawson Creek 55.75963 -120.237662 U5I 4F1     ⋯ Bronze
2 Bremen       53.07930    8.801694 28759       ⋯ Bronze
3 Winnipeg     49.89514  -97.138374 R2C 0M5     ⋯ Bronze
4 Sudbury      46.52210  -80.953035 M5V 1G5     ⋯ Bronze
5 Winnipeg     49.89514  -97.138374 R2C 0M5     ⋯ Bronze
6 Erfurt       50.98477   11.029880 99089       ⋯ Bronze
  Product.Line              Coupon.Response Count Quantity.Sold Unit.Sale.Price
1 Computers and Home Office Coupon 6        1     3             1,182
2 Computers and Home Office Coupon 1        1     1             434
3 Computers and Home Office Coupon 1        1     2             201
4 Computers and Home Office Coupon 4        1     3             757
5 Computers and Home Office Coupon 1        1     2             161
6 Computers and Home Office Coupon 1        1     2             899
  Unit.Cost Revenue Customer.Lifetime.Value Loyalty.Count
1 1,005     3,546    8842.65                1
2 369       434      3508.57                1
3 171       402      8044.87                1
4 643       2,271    8660.84                1
5 137       322     25464.82                1
6 764       1,798   23444.90                1